@model IEnumerable<NewProjectEpam.Models.myTable.TableCategories>
@{
    ViewBag.Title = "Категории";
}



<h2>Управление категориями</h2>
@using (Html.BeginForm("AddCategories","Home"))
{

    <div><strong class="Mystrong" >Название новой категории:</strong></div>
    <div>
        @Html.TextBox("typess", "Новости...", htmlAttributes: new { @class = "text_box", data_ajax = "true" })
        <input type="submit" value="Добавить" class="btn btn-success" />
    </div>

}
<br>
<table class="table table-hover table-condensed ">
    <tr>
        <td colspan="2"><strong class="Mystrong">Список категоррий новостей</strong></td>

    </tr>

    @foreach (var item in Model)
    {
        <tr>


            @using (Html.BeginForm("DeleteCategories", "Home"))
            {

                <td>
                    <div>

                        @Html.TextBox("typess", @item.Typess, htmlAttributes: new { @class = "text_box", data_ajax = "true" })

                    </div>
                </td>
                <td>
                    <div>


                        <input type="image" src="/fonts/delete.png" class="delete_zakaz_news" title="Удалить">
                    </div>
                </td>

            }

        </tr>
    }





</table>

