
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Пользователи", "Index", "User")</li>
    <li>@Html.ActionLink("Категории", "AdminCategor", "Home")</li>
    <li>@Html.ActionLink("Роли", "AdminRole", "Home")</li>

</ul>

