@model IEnumerable<NewProjectEpam.Models.myTable.MyTableNews>

@{
    ViewBag.Title = "Добавление новости";
}

<h2>Добавление новости</h2>

@using (Html.BeginForm("AddMyNews", "AddNews"))
{

    
    <div>

    <strong class="Mystrong"> Название новости</strong> <br>
         @Html.TextBox("name_news", "", htmlAttributes:new {@class="text_box", data_ajax = "true"})
        
       <br>
        <br>
        <strong class="Mystrong">  
        Категория
        </strong> <br />
            @Html.TextBox("typess", "", htmlAttributes: new { @class = "text_box", data_ajax = "true" })

            <br>
            <br>

        <strong class="Mystrong">
            Содержание
        </strong><br>
            @Html.TextArea("content", "", 10, 200, null)
            <br>
        <br>
        <strong class="Mystrong">
            Url-адресс изображения
        </strong> <br>
                @Html.TextBox("img", "", htmlAttributes: new { @class = "text_box", data_ajax = "true" })
                <br>
        <br>
        <br>
                <input type="submit" value="Добавить" class="btn btn-success" />

</div>

}

