@model NewProjectEpam.Models.EditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Редактировать данные профиля</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <div>
            <p>Email: 
            <br>@Html.EditorFor(model => model.Email)</p>
        </div>

        <div>
            <p>Ник:
            <br> @Html.EditorFor(model => model.UserName)</p>
        </div>



        <div>
            <div>
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </div>
    </div>
}